<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>vue-learning</title>
</head>
<body>
    <div id="app">
        <h1>Todo</h1>
        <ul>
            <li v-for="i in todoLists">
                <label><input v-model="i.isDone" type="checkbox">{{ i.title }}</label>
            </li>
        </ul>
        <h1>Done</h1>
        <ul>
            <li v-for="i in doneLists">
                <label><input v-model="i.isDone" type="checkbox">{{ i.title }}</label>
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@next"></script>

    <script>
        const vm = Vue.createApp({
            data () {
                return {
                    lists: [
                        {
                            id: 'task001',
                            title: 'option_1',
                            isDone: false
                        },
                        {
                            id: 'task002',
                            title: 'option_2',
                            isDone: false
                        },
                        {
                            id: 'task003',
                            title: 'option_3',
                            isDone: false
                        }
                    ]
                }
            },
            computed: {
                todoLists () {
                    return this.lists.filter( d => !d.isDone)
                },
                doneLists () {
                    return this.lists.filter( d => d.isDone)
                }
            }
        });

        // mount
        vm.mount('#app');
    </script>
</body>
</html>


